<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AdminPageSetPassword</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
<header class="header">
    <div>
        <h1>
            <a class="header-text" href="/">Set Password</a>
        </h1>
    </div>
</header>

<div class="main-card-create-question" id="password">
    <h2>Создание пароля для рестарта</h2>
    <form method="post" class="input-text">
        {% if password  %}
        <div class="set-password">
            <label for="password">Введите пароль что бы проходить тест по новой:</label>
            <input type="text"  name="password" required placeholder="RestartPassword" value="{{ password }}">
        </div>
        {% else %}
        <div class="set-password">
            <label for="password">Введите пароль что бы проходить тест по новой:</label>
            <input type="text" name="password" required placeholder="RestartPassword" value="{{ password }}">
        </div>
        {% endif %}
        <div style="margin-top: 24px;">
            <button type="submit" class="btn-save">💾 Сохранить</button>
            <a href="{{ url_for('index') }}" class="btn-cancel">Отмена</a>
        </div>
    </form>
</div>

</body>
</html>
